body {
  background-image: url('../img/heart_background.png');
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding-top: 2.5rem;
}

.main__container {

  min-width: 400px;
  /* max-height: 90vh; */
  position: relative;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: white;
}

.header__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
}

.stepper {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
}
.step .step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.step.active .step-circle {
  background-color: #007bff;
}
.step-line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  top: 20px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}
.step.active ~ .step .step-line {
  background-color: #007bff;
}
.step:first-child .step-line {
  display: none;
}
.step:last-child .step-line {
  display: none;
}

.step-content {
  display: none;
}
.step-content.active {
  display: block;
  margin-top: 20px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}

/* Selected options */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* Text color */
}

/* Hover effect on selected options */
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #007bff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
}

/* Placeholder color */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #6c757d; /* Bootstrap gray color for placeholder */
}

/* Dropdown options */
.select2-container--default .select2-results__option {
  padding: 10px; /* Increase padding for options */
  font-size: 14px; /* Change font size */
}

/* Highlighted option in dropdown */
.select2-container--default .select2-results__option--highlighted {
  background-color: #007bff; /* Highlight color */
  color: white; /* Text color */
}

.content {
  margin-top: 50px;
}

